{% extends 'base.html' %}
{% load static %}
{% block title %} | Cart {% endblock %}
{% block content %}
{% include "partials/_sky.html" %}
<section id="login">
    <div class="container cart-home">
        <div class="row">
            <div class="mt-2" style="width: 100%;" >
                {% include 'partials/_messages.html' %}
            </div>
            <div class="col-md-7 mx-auto">
                <div class="card card-cart">
                    <div class="card-header">
                        <i class="fas fa-shopping-cart"></i> &nbsp;SHOPPING CART
                    </div>
                    <div class="card-body">
                        {% for item in cart_items %}
                            <div class="cart-product d-flex justify-content-between">
                                <div class="cart-product-img">
                                    <a href="{% url 'product' item.product.id %}" class="">
                                        <img src="{{ item.product.photo_main.url }}" alt="Product photo">
                                    </a>
                                </div>
                                <div class="product-cart-title">
                                    <a href="{% url 'product' item.product.id %}" class="">{{ item.product.name }} &nbsp; {{item.item_size}}
                                    </a>
                                </div>
                                <div class="product-cart-price">
                                    £{{ item.product.price }} x {{ item.quantity}}
                                    {{ only_left }}
                                </div>
                            </div>
                            <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-5 mx-auto">
                <div class="card card-checkout">
                    <div class="card-header">
                        <i class="far fa-credit-card"></i> &nbsp;CHECKOUT
                    </div>
                    <div class="card-body">
                        <div>
                            <p>Please review your shopping cart items beofre proceeding with the order payment.</p>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between">
                            <div class="font-weight-bold">
                                <p>Items: {{ counter }}</p>
                                <p>Total: £{{ total }}</p>
                            </div>
                            <i class="fas fa-gifts"></i>
                        </div>
                        <hr>
                        <form action="" method="POST" 
                        {% if total == 0 %}
                            style="pointer-events: none;">
                        {% endif %}
                            {% csrf_token %}
                        <script
                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="{{ data_key }}"
                            data-amount="{{ stripe_total }}"
                            data-name="Dot Geek Shop"
                            data-description="{{ description }}"
                            data-image="{% static 'img/logo/dotgeek_black.png' %}"
                            data-locale="auto"
                            data-currency="gbp"
                            data-shipping-address="true"
                            data-billing-address="true"
                            data-zip-code="true">
                        </script>
                        </form>
                        <a href="{% url 'all_products' %}" id="continue-btn" class="btn btn-secondary btn-block ">CONTINUE SHOPPING</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}