{% extends 'base.html' %}
{% load static %}
{% block title %} | Password Reset {% endblock %}
{% block content %}
<section id="reset">
    {% include "partials/_sky.html" %}
    <div class="row">
        <div class="mt-2" style="width: 100%;" >
            {% include 'partials/_messages.html' %}
        </div>
        <div class="col-md-10 mx-auto">
            <div class="card card-cart">
                <div class="card-header">
                    <i class="fas fa-unlock-alt"></i> CHANGE PASSWORD
                </div>
                <div class="card-body">
                    {% if validlink %}
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-row">
                            <div class="col form-group text-left">
                                {{ field.label_tag }}<br>
                                {{ field }}
                            </div>
                        </div>
                        {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                        {% endfor %}
                        </p>
                        {% endfor %}
                        <button type="submit" class="btn btn-secondary btn-block">SUBMIT</button>
                    </form>
                    {% else %}
                    <p>
                    The password reset link was invalid, possibly because it has already been used.
                    Please request a new password reset.
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}