{% extends 'base.html' %}
{% load static %}
{% block title %} | Password Reset {% endblock %}
{% block content %}
<section id="reset">
    {% include "partials/_sky.html" %}
    <div class="row">
        <div class="mt-2" style="width: 100%;" >
            {% include 'partials/_messages.html' %}
        </div>
        <div class="col-md-10 mx-auto">
            <div class="card card-cart">
                <div class="card-header">
                    <i class="far fa-envelope"></i> PASSWORD RESET
                </div>
                <div class="card-body">
                    <p class="text-center font-weight-bold">We send you an email!</p>
                    <p class="text-center">We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
                    <p class="text-center">If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}