{% extends 'base.html' %}
{% block title %} | Password Reset {% endblock %}
{% block content %}
{% include "partials/_sky.html" %}
<section id="reset">
    <div class="container reg-log-form">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card card-register-login">
                    <div class="card-header">
                        <i class="fas fa-redo-alt"></i> &nbsp;Password Reset
                    </div>
                    <form class="text-center border border-light p-5" action="#" method="POST">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-row">
                            <div class="col form-group text-left">
                                {{ field.label_tag }}<br>
                                {{ field }}
                            </div>
                        </div>
                        {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                        {% endfor %}
                        </p>
                        {% endfor %}
                        <button type="submit" class="btn btn-secondary btn-block">RESET</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}