{% load static %}
<footer>
    <div class="footer-top-line">
        <div>
            <img class="pacman_run" src="{% static 'img/pacman_run.png' %}" alt="pacman">
        </div>
    </div>
    <div class="container footer-middle">
        <div class="social-media">
            <p>Follow Us</p>
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-google-plus-square"></i>
            <i class="fab fa-instagram"></i>
        </div>
        <div class="divider"></div>
        <div class="contact">
            <p>Contact</p>
            <p class="address">
                DOT GEEK<br>
                65  Glandovey Terrace<br>
                PL12 0UG<br>
                +44 78 1464 5328<br>
            </p> 
        </div>
        <div class="divider"></div>
        <div class="pay-with">
            <p>Pay securely with</p>
            <i class="fab fa-cc-stripe"></i>
            <i class="fab fa-cc-mastercard"></i>
            <i class="fab fa-cc-visa"></i>
            <i class="fab fa-cc-amex"></i>
        </div>
    </div>
    <div class="footer-bottom-line">
        <div class="logo-line"></div>
        <p>Copyright &copy;
            <span class="year">2019</span> DOT GEEK</p>
    </div>
</footer>