{% load static %}
<!-- Navigation -->
<!-- Top Bar -->
<nav>
    <div class="top-nav fixed-top">
        <div>
            <img class="pacman" src="{% static 'img/pacman.png' %}" alt="pacman">
        </div>
        <div class="top-mid-nav">
            <span>UK FREE SHIPPING</span>
        </div>
        <div class="login-register">
            {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'dashboard' %}"><i class="fas fa-user-circle"></i> Welcome {{user.username}} </a>
            <a class="nav-link" href="javascript:{document.getElementById('logout').submit()}">
                <i class="fas fa-sign-out-alt"></i> LOGOUT
            </a>
            <form action="{% url 'logout' %}" method="POST" id="logout">
                {% csrf_token %}
                <input type="hidden">
            </form>
            {% else %}
            <a class="nav-link" href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> LOGIN </a>
            <a class="nav-link" href="{% url 'register' %}"><i class="fas fa-user-plus"></i> REGISTER</a>
            {% endif  %}
        </div>
    </div>
</nav>
<!-- Bottom Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'img/logo/dotgeek_white.png' %}" class="logo" alt="dotGEEK">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li
                    {% if '/' == request.path %}
                        class="nav-item active"
                    {% else %}
                        class="nav-item"
                    {% endif %}
                >
                    <a class="nav-link" href="{% url 'index' %}">HOME
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li
                    {% if '/products/' == request.path %}
                        class="nav-item active"
                    {% else %}
                        class="nav-item"
                    {% endif %}
                >
                    <a class="nav-link" href="{% url 'all_products' %}">SHOP ALL</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        SHOP BY CATEGORY
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {% for type in nav_menu_category %}
                            <a class="dropdown-item" href="{% url 'navbar_type' type.id %}">{{ type.types }}</a>
                        {% endfor %}
                    </div>
                </li>
                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            SHOP BY BRAND
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            {% for brand in nav_menu_brands %}
                                <a class="dropdown-item" href="{% url 'navbar_brand' brand.id %}">{{ brand.brand_name }}</a>
                            {% endfor %}
                        </div>
                    </li>
                    <li
                        {% if 'contact' in request.path %}
                            class="nav-item active"
                        {% else %}
                            class="nav-item"
                        {% endif %}
                    >
                    <a class="nav-link" href="{% url 'contact' %}">CONTACT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>