@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Lobster|Noto+Sans+TC:100,300,400,500,700,900&display=swap');

:root {
  --main-dark: #242423;
  --main-grey: #7d7e7d;
  --main-orange: #ed6a5a;
  --main-yellow: #f5cb5c;
  --main-white: #fafbfb;
}
/* Main & Button and Badges */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  background: var(--main-white);
}

.badge-secondary {
  background-color: var(--main-orange);
  color: var(--main-white);
}

.btn-secondary {
  background-color: var(--main-dark);
  border-color: var(--main-dark);
  color: var(--main-white);
}

/* Navbar */
.navbar {
  padding: 0 1rem;
}

nav > .container {
  padding-top: 30px;
  padding-bottom: 14px;
}

.logo {
  width: 115px;
  position: absolute;
  top: 25px;
}

.bg-dark {
  background-color: var(--main-dark)!important;
}

.top-nav {
  background-color: var(--main-yellow);
  height: 27px;
  width: 100%;
  z-index: 1050;
  display: flex;
  justify-content: space-between;
}

.top-mid-nav {
  font-weight: 600;
  margin-left: 75px;
}

.login-register {
  display: flex;
  flex-direction: row;
  color: var(--main-dark);
}

.login-register a {
  color: var(--main-dark);
  padding: 0;
  margin-right: 17px;
  font-weight: 800;
  transition: 0.5s ease-in-out;
}

.login-register a:hover {
  color: var(--main-grey);
}

.pacman {
  height: 24px;
  margin-bottom: 4px;
  margin-left: 10px;
}

.navbar-collapse {
  margin-top: 18px;
  margin-bottom: 10px;
}

.navbar-toggler {
  margin-top: 18px;
  padding-bottom: 10px;
}

/* Index Page */

.heading-paragraph {
  color: var(--main-dark);
  font-family: 'Lobster', cursive;
  font-size: 3.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 45px 0;
  background-color: var(--main-yellow);
}

/* Home Carusel Images */
.carousel{
  z-index: 1;
}

#carouselExampleIndicators {
  margin-top: 80px;
}

.carousel-item {
  height: 40vh;
  min-height: 420px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-shadow: 2px 2px #000;
}

.carousel-item h3 {
  font-family: 'Lobster', cursive;
  
}

.carousel-item p {
  font-family: 'Barlow Condensed', sans-serif;
}
/* Login / Register */

.card-header {
  text-align: center;
  background-color: var(--main-orange);
  color: var(--main-white);
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.card-register-login {
  margin-top: 95px;
  background-color: var(--main-white);
}

.reg-log-form {
  margin-top: 95px;
  min-height: calc(100vh - 388px);
}

/* Footer */

footer {
  height: 280px;
  background-color: var(--main-orange);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
}

.footer-top-line {
  height: 27px;
  background-color: var(--main-yellow);
  text-align: end;
}

.pacman_run {
  height: 24px;
  margin-right: 10px;
}

.logo-line {
  background-image: url('../img/logo/dotgeekline.jpg');
  background-size: contain;
  background-repeat: repeat-x;
  height: 50px;
}

.footer-bottom-line {
  height: 20px;
  background-color: var(--main-white);
  text-align: center;
}

.footer-bottom-line p {
  margin: 0px;
  font-weight: bold;
  color: var(--main-dark);
}

footer {
  font-family: 'Barlow Condensed', sans-serif;
  color: var(--main-white);
}

.footer-middle {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  text-align: center;
}

.social-media > i,
.pay-with > i {
  margin: 6px;
}

.divider {
  height: 132px;
  margin-top: 10px;
  border-right: 2px solid var(--main-white);
  border-left: 2px solid var(--main-white);
}

.address {
  text-align: left;
  font-size: 1rem;
}
