{% extends 'base.html' %}
{% block title %} | Login {% endblock %}
{% block content %}
{% include "partials/_sky.html" %}
<section id="login">
    <div class="container reg-log-form">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card card-register-login">
                    <div class="card-header">
                        <i class="fas fa-sign-in-alt"></i> &nbsp;Login
                    </div>
                    <form class="text-center border border-light p-5" action="#" method="POST">
                        {% csrf_token %}
                        {% include 'partials/_messages.html' %}
                        <div class="form-row">
                            <div class="col form-group text-left">
                                <!-- Login -->
                                <label for="uname">Login</label>
                                <input type="text" name="uname" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col form-group text-left">
                                <!-- Password -->
                                <label for="password">Password</label>
                                <input type="password" name="password" class="form-control" required>
                            </div>
                        </div>
                        <input type="submit" value="LOGIN" class="btn btn-secondary btn-block">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}