{% extends 'base.html' %}
{% block title %} | Register {% endblock %}
{% block content %}
{% include "partials/_sky.html" %}
<section id="register">
    <div class="container reg-log-form">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card card-register-login">
                    <div class="card-header">
                        <i class="fas fa-user-plus"></i> &nbsp;Register
                    </div>
                    <!-- Message Alerts -->
                    <form class="text-center border border-light p-5" action="#" method="POST">
                        {% csrf_token %}
                        {% include 'partials/_messages.html' %}
                        <div class="form-row">
                            <div class="col form-group text-left">
                                <!-- First name -->
                                <label for="first_name">First Name</label>
                                <input type="text" name="first_name" class="form-control" required>
                            </div>
                            <div class="col form-group text-left">
                                <!-- Last name -->
                                <label for="last_name">Last Name</label>
                                <input type="text" name="last_name" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col form-group text-left">
                                <!-- Login -->
                                <label for="uname">Username</label>
                                <input type="text" name="uname" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col form-group text-left">
                                <!-- Email -->
                                <label for="email">Email</label>
                                <input type="email" name="email" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col form-group text-left">
                                <!-- Password -->
                                <label for="password">Password</label>
                                <input type="password" name="password" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col form-group text-left">
                                <!-- Password Confirm -->
                                <label for="password2">Confirm Password</label>
                                <input type="password" name="password2" class="form-control" required>
                            </div>
                        </div>
                        <input type="submit" value="REGISTER" class="btn btn-secondary btn-block">
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
