{% extends 'base.html' %}
{% load static %}
{% block title %} | Welcome {% endblock %}
{% block content %}
<!-- Carusel -->
<header>
    {% if carousels %}
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <!-- <ol class="carousel-indicators">
                {% for carousel in carousels %}
                    <li data-target="#carouselExampleIndicators" data-slide-to=" {{ forloop.counter }}" 
                    class=""></li>
                {% endfor %}
            </ol> -->
        <div class="carousel-inner" role="listbox">
            <!-- Slide Carusel Img in Header -->
            {% for carousel in carousels %}
            <div {% if carousel.first %} id="first" class="carousel-item active" {% else %} id="rest-carousel"
                class="carousel-item" {% endif %} style="background-image: url({{ carousel.image.url }})"
                alt="carousel-image">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="display-4">{{ carousel.heading }}</h3>
                    <p class="lead">{{ carousel.paragraph }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    {% endif %}
</header>

{% include "partials/_sky.html" %}
<div class="message-container">
    {% include "partials/_messages.html" %}
</div>

<!-- Bestsellers -->
<section id="bestsellers">
    <div class="text-center d-flex justify-content-center">
        <p class="heading-paragraph">Bestsellers</p>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            {% for product in bestseller %}
            <div class="col-auto mb-3">
                <div class="card product-card">
                    <a href="{% url 'product' product.id %}" class="card-hyperlink">
                        <img class="card-img-top" src="{{ product.photo_main.url }}" alt="Card image cap">
                    </a>
                    <div class="card-img-overlay">
                        {% if product.product_type.types == "Clothes" %}
                            {% if product.total_cloths_stock == 0 %}
                                <h2>
                                    <div class="badge badge-secondary">SOLD OUT!</div>
                                </h2>
                            {% else %}
                                <h2>
                                    <div class="badge badge-secondary">£{{ product.price}}</div>
                                </h2>
                            {% endif %}
                        {% elif product.stock == 0 %}
                            <h2>
                                <div class="badge badge-secondary">SOLD OUT!</div>
                            </h2>
                        {% else %}
                            <h2>
                                <div class="badge badge-secondary">£{{ product.price }}</div>
                            </h2>
                        {% endif %}
                    </div>
                    <div class="card-body d-flex flex-column">
                        <a href="{% url 'product' product.id %}" class="card-hyperlink">
                            <h6 class="card-title">{{ product.name }}</h6>
                        </a>
                        <hr class="hr-card">
                        <p class="card-text">{{ product.short_description }}</p>
                        <hr class="hr-card">
                        {% include 'partials/_card_buy_form.html' %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- New In -->

<section id="new-in">
    <div class="text-center d-flex justify-content-center">
        <p class="heading-paragraph">New In</p>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            {% for product in new_in %}
            <div class="col-auto mb-3">
                <div class="card product-card">
                    <a href="{% url 'product' product.id %}" class="card-hyperlink">
                        <img class="card-img-top" src="{{ product.photo_main.url }}" alt="Card image cap">
                    </a>
                    <div class="card-img-overlay">
                        {% if product.product_type.types == "Clothes" %}
                            {% if product.total_cloths_stock == 0 %}
                                <h2>
                                    <div class="badge badge-secondary">SOLD OUT!</div>
                                </h2>
                            {% else %}
                                <h2>
                                    <div class="badge badge-secondary">£{{ product.price}}</div>
                                </h2>
                            {% endif %}
                        {% elif product.stock == 0 %}
                            <h2>
                                <div class="badge badge-secondary">SOLD OUT!</div>
                            </h2>
                        {% else %}
                            <h2>
                                <div class="badge badge-secondary">£{{ product.price }}</div>
                            </h2>
                        {% endif %}
                    </div>
                    <div class="card-body d-flex flex-column">
                        <a href="{% url 'product' product.id %}" class="card-hyperlink">
                            <h6 class="card-title">{{ product.name }}</h6>
                        </a>
                        <hr class="hr-card">
                        <p class="card-text">{{ product.short_description }}</p>
                        <hr class="hr-card">
                        {% include 'partials/_card_buy_form.html' %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}