@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Lobster|Noto+Sans+TC:100,300,400,500,700,900&display=swap');

:root {
  --main-dark: #242423;
  --main-grey: #7d7e7d;
  --main-orange: #ed6a5a;
  --main-yellow: #f5cb5c;
  --main-white: #fafbfb;
}
/* Main Layout, Body & Button, Badges and backgrounds */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btn {
  border-radius: 0 !important;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  background: var(--main-white);
}

#bestseller, #new-in {
  min-height: calc(50vh - 194px);
}

#all-products, #contact, #single-product,
#register, #login, #search  {
  margin-top: 112px;
  min-height: calc(100vh - 388px);
}

.sky-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  z-index: -2;
}

.sky-bg {
  position: absolute;
  background-image: url('../img/sky.png');
  background-size: contain;
  background-repeat: repeat-x;
  height: 320px;
  width: 100%;
}

.badge-secondary {
  background-color: var(--main-orange);
  color: var(--main-white);
}

.out-stock-btn,
.btn-secondary {
  background-color: var(--main-dark);
  border-color: var(--main-dark);
  color: var(--main-white);
}

.out-stock-btn {
  color: var(--main-white)!important;
}

.message-container {
  margin: 15px;
}

/* Pagination */

.page-item,
.page-link {
  color: var(--main-dark)!important;
}

.page-item.active .page-link {
  background-color: var(--main-yellow)!important;
  border-color: var(--main-dark);
}

/* Navbar */
.navbar {
  padding: 0 1rem;
}

nav > .container {
  padding-top: 30px;
  padding-bottom: 14px;
}

.logo {
  width: 115px;
  position: absolute;
  top: 25px;
}

.bg-dark {
  background-color: var(--main-dark)!important;
}

.top-nav {
  background-color: var(--main-yellow);
  height: 27px;
  width: 100%;
  z-index: 1050;
  display: flex;
  justify-content: space-between;
}

.top-mid-nav {
  font-weight: 600;
  margin-left: 75px;
}

.login-register {
  display: flex;
  flex-direction: row;
  color: var(--main-dark);
}

.login-register a {
  color: var(--main-dark);
  padding: 0;
  margin-right: 17px;
  font-weight: 800;
  transition: 0.5s ease-in-out;
}

.login-register a:hover {
  color: var(--main-grey);
}

.pacman {
  height: 24px;
  margin-bottom: 4px;
  margin-left: 10px;
}

.navbar-collapse {
  margin-top: 18px;
  margin-bottom: 10px;
}

.navbar-toggler {
  margin-top: 25px;
}

#logout {
  display: none;
}

/* Index Page */

.heading-paragraph {
  color: var(--main-yellow);
  font-family: 'Lobster', cursive;
  font-size: 3.5rem;
  letter-spacing: 1px;
  margin: 45px 0;
  background-color: var(--main-dark);
  padding: 0 80px;
  z-index: 10;
}

/* Home Carusel Images */
.carousel{
  z-index: 1;
}

#carouselExampleIndicators {
  margin-top: 80px;
}

.carousel-item {
  height: 40vh;
  min-height: 420px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-shadow: 2px 2px #000;
}

.carousel-item h3 {
  font-family: 'Lobster', cursive;
  
}

.carousel-item p {
  font-family: 'Barlow Condensed', sans-serif;
}

/* All Products */

#all-products > div.container {
  margin-top: 100px;
} 

/* Product */

.img-container {
  margin-top: 25px;
}

.img-container  img {
  border: solid 1px var(--main-dark);
  border-radius: 3px;
}

.product-info > ul {
  width: 100%;
}

.product-name-p {
  font-family: 'Lobster', sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  color: var(--main-dark);
}

.fixed-card {
  position: fixed;
  width: 300px;
  z-index: 10;
}

.list-group-item form {
  display: none;
}

/* Cart */

.cart-product-img {
  height: 50px;
  width: 80px!important;
  overflow: hidden;
  margin-right: 21px;
}

.cart-product-img > a > img {
  width: 80px;
  margin-right: 21px;
}

.product-cart-price {
  margin-left: 15px;
  min-width: 70px;
}

.product-cart-price i {
  font-size: 20px;
}

.product-cart-title {
  width: 60%;
  text-align: left;
}

.product-cart-title > a {
  text-decoration: none;
  color: var(--main-dark);
  transition: 0.2s ease-in-out;
}

.product-cart-title > a:hover {
  color: var(--main-orange);
}

.total-cart {
  text-align: end;
  font-weight: 600;
}

.stripe-button-el {
  width: 100% !important;
  margin-bottom: 10px;
  border-radius: 0 !important;
  background-image: none !important;
  background-color: var(--main-dark) !important;
  font-family: 'Noto Sans TC', sans-serif !important;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
}

.stripe-button-el span {
  background-image: none !important;
  background-color: var(--main-dark) !important;
  font-family: 'Noto Sans TC', sans-serif !important;
  font-size: 17px !important;
  font-weight: normal !important;
  height: 38px !important;
  line-height: 34px !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  letter-spacing: 1px;
  transition: 0.2s ease-in-out;
}

.stripe-button-el:hover,
.stripe-button-el span:hover {
  background-color: var(--main-grey) !important;
}


#continue-btn {
  background-color: var(--main-white);
  color: var(--main-dark);
  border: solid 2px;
  font-weight: 600;
  transition: 0.2s ease-in-out;
}

#continue-btn:hover {
  background-color: var(--main-dark) !important;
  color: var(--main-white) !important;
  border: solid 2px var(--main-dark);
}

.fa-gifts {
  font-size: 4rem;
  margin-right: 60px;
  color: var(--main-orange);
}

.fa-window-close {
  color: var(--main-orange);
  transition: ease-in-out 0.2s;
}

.fa-window-close:hover {
  color: #ff0000;
  cursor: pointer;
}

.fa-minus-square,
.fa-plus-square {
  color: var(--main-grey);
  transition: 0.2s ease-in-out;
}

.fa-minus-square:hover,
.fa-plus-square:hover {
  cursor: pointer;
  color: var(--main-dark);
}

/* Contact */

/* Product Cards */

.product-card {
  height: 36rem;
  width: 18rem;
  overflow: hidden;
}

.card-title {
  min-height: 55px;
  margin-bottom: 0;
}

.card-img-top {
  min-height: 235px;
  max-height: 235px;
  width: auto;
}

.card-text {
  min-height: 96px;
  margin: 0;
  font-size: 13px;
}

.hr-card {
  border-top: 2px solid var(--main-yellow);
  margin: 0.3rem 0;
}

.card-body select {
  margin-top: 8px;
}

.card-hyperlink {
  z-index: 5;
  cursor: pointer;
  text-decoration: none;
  color: var(--main-dark);
  display: flex;
  justify-content: center;
}

.card-img-overlay {
  z-index: 6;
  width: 0;
  height: 0;
}

.card-hyperlink:hover {
  color: var(--main-grey);
  text-decoration: none;
}

/* Search */

.search-form-div {
  width: 80%;
  max-width: 918px;
  margin: auto;
  margin-bottom: 70px;
}

.btn-search {
  width: 200px;
  margin: auto;
  margin-bottom: 10px;
}

.keyword-div {
  position: relative;
  left: -18px;
  padding: 0px;
}

/* Login / Register */

.card-header {
  text-align: center;
  background-color: var(--main-orange);
  color: var(--main-white);
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.card-register-login,
.card-cart,
.card-checkout {
  margin-top: 95px;
  background-color: var(--main-white);
}

/* Footer */

footer {
  height: 280px;
  background-color: var(--main-orange);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
}

.pipe-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  z-index: -2;
}

.pipe-mario-plant {
  position: absolute;
  background-image: url(../img/pipe_mario_plant.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 473px;
  width: 195px;
  top: -462px;
  left: 54px;
}

.pipe-plant {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/pipe_plant.png);
  height: 530px;
  width: 162px;
  top: -294px;
  right: 51px;
}

.footer-top-line {
  height: 27px;
  background-color: var(--main-yellow);
  text-align: end;
  position: relative;
  top: -25px;
}

.pacman_run {
  height: 24px;
  margin-right: 10px;
}

.logo-line {
  background-image: url('../img/logo/dotgeekline.png');
  background-size: contain;
  background-repeat: repeat-x;
  height: 50px;
}

.footer-bottom-line {
  height: 20px;
  background-color: var(--main-white);
  text-align: center;
}

.footer-bottom-line p {
  margin: 0px;
  font-weight: bold;
  color: var(--main-dark);
}

footer {
  font-family: 'Barlow Condensed', sans-serif;
  color: var(--main-white);
}

.footer-middle {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  text-align: center;
}

.pay-with > i {
  margin: 6px;
}

.social-media a {
  text-decoration: none;
  color: var(--main-white)!important;
  margin: 6px;
}

.divider {
  height: 132px;
  margin-top: 10px;
  border-right: 2px solid var(--main-white);
  border-left: 2px solid var(--main-white);
}

.horizontal-divider {
  display: none;
}

.address {
  text-align: left;
  font-size: 1rem;
}

/* Media Query */

@media (max-width: 992px) {
  #all-products, #contact, #single-product,
  #register, #login  {
    margin-top: 108px;
  }

  .left-card-product{
    margin-left: 8%;
  }
}

@media (max-width: 768px) {
  .top-mid-nav {
    display: none;
  }

  .left-card-product{
    margin-left: 0;
  }

  .cart-container {
    flex-direction: column-reverse;
  }

  .card-cart {
    margin-top: 35px;
  }

  .img-container .card {
    display: none;
  }

  .list-group-item select {
    margin-top: 8px;
  }

  .list-group-item form {
    display: unset;
  }
}

@media (max-width: 480px) {
  .pipe-plant,
  .pipe-mario-plant {
    display: none;
  }

  footer {
    height: 100%;
  }

  .footer-middle {
    flex-direction: column;
  }

  .divider {
    border-top: 2px solid var(--main-white);
    border-right: 0;
    border-left: 0;
    height: 4px;
    width: 60%;
    margin: auto;
  }

  .social-media,
  .pay-with {
    margin-bottom: 10px;
  }

  .address {
    text-align: center;
  }

  .heading-paragraph {
    font-size: 2.5rem;
    padding: 0 55px;

  }

  .card-register-login,
  .card-cart,
  .card-checkout {
    margin-top: 34px;
  }

  .top-nav {
    justify-content: space-between;
  }

  .pacman-container {
    display: none;
  }

  .login-nav {
    margin-right: 50px!important;
  }

  .login-register {
    justify-content: space-between;
    margin: 0 10px;
    width: 100%;
  }

  .login-register .nav-link {
    margin: 0px;
  }
}

